.sectionScenario{
  max-width: 80%;
  padding-top: 2.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.scenarioItem{
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;

  @media (max-width: 414px)  {
    flex-direction: column;
  }

  &:nth-child(even){
    flex-direction: row-reverse;
    text-align: end;

    @media (max-width: 414px)  {
      flex-direction: column;
      text-align: start;
    }
  }

  &>img{
    width: 15rem;
    margin-bottom: 1.25rem;
   
  }

  &>div{
    flex: 0.5;
    padding: 1.5rem;
    font-size: 1.25rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    display: inline;

    @media (max-width: 728px)  {
      flex: 0.8;
    }

    u{
      text-decoration: none;
      background-color: var(--purple-light);
    }
    

    &>span {
      font-size: 1rem;
      text-transform: uppercase;
    }
  }

  
}