.footerContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 4.4rem;
  padding-bottom: 1.3rem;
  width: 80%;
  margin: auto;

  @media(max-width: 720px){
    flex-direction: column;
    justify-content: center;
  }

  &>div>h3 {
    font-weight: 900;
    font-size: 80px;
    line-height: 75px;
    letter-spacing: 0.625px;
    width: 440px;

    @media(max-width: 720px){
      font-size: 68px;
      width: 300px;
      text-align: center;
      margin-bottom: 45px;
    }
  }
}

.underline{
  background-image: url("../../../public/images/risco.png");
  background-size: 275px 175px;

  @media(max-width: 720px){
    background-size: 240px 145px;
  }
}

.social {
  @media(max-width: 720px){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & > p {
    font-size: 1.5rem;
    line-height: 2.2rem;
    font-weight: 300;
  }

  & > img {
    margin-top: 2rem;
  }
}

.icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.icon {
  color: var(--purple);
  font-size: 1.875rem;
}
