.sectionTestimony{
  padding: 2.5rem 0;
}

.testimony {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.8;

  img {
    width: auto;
    height: 16rem;
  }

  & > div{
    display:flex;
    flex-direction: column;
    width: 35rem;
    margin-left: 3rem;
    text-align: center;
  }
}


.testimonyText{
  margin: 1.25rem 0;
  font-size: 1.25rem;
  font-weight: 300;
}

.testimonyAuthor{
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  line-height: 1.5;
  font-size: 1rem;
}

.testimonyClass{
  line-height: 1.5;
  font-size: 1.125rem;
  text-transform: uppercase;
}




@media only screen and (max-width: 768px)  {
  .testimony {
    display: none;

    &>div {
      display: flex;
      flex-direction: column;
    }
  }

  .testimony>div>img {
    width: 50%;
    margin: auto;
  }
}

@media only screen and (max-width: 414px)  {
 .img-testimony {
    width: 60%;
    margin: auto;
  }
}

@media only screen and (max-width: 414px)  {
  .testimony-slider {
    flex-direction: column;
  }
}

.testimony-text {
  float: right;
  padding-left: 30px;
}
@media only screen and (max-width: 1024px)  {
  .testimony-text {
    width: 360px;
  }
}
@media only screen and (max-width: 414px)  {
  .testimony-text {
    padding-left: 0;
  }
}

@media only screen and (max-width: 768px)  {
  .testimony-box>p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 414px)  {
  .testimony-box {
    width: 80%;
    padding-left: 10%;
  }
  .testimony-box>p {
    font-size: 18px;
  }
}

.testimony-title {
  font-weight: 900;
  line-height: 26px;
  font-size: 16px;
  margin: 0;

  @media(max-width: 768px)  {
      padding-top: 0;
  }
}


.testimonyClass {
  line-height: 28px;
  font-size: 18px;
  letter-spacing: 0.43px;
  text-transform: uppercase;
  margin: 0;

  @media(max-width: 768px)  {

      font-size: 16px;
      line-height: 18px;
      padding-top: 0;
    
  }
  @media(max-width: 414px)  {

      font-size: 16px;
      line-height: 22px;
      padding-top: 0;
    
}

}




.testimony-mobile {
  display: none;
}
@media only screen and (max-width: 768px)  {
  .testimony-mobile {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 30px 0 60px 0;
  }
}
@media only screen and (max-width: 414px)  {
  .testimony-mobile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
